/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import "../styles.less";

.header-automotive-oss-event-2023 {
  background-image: url('../images/automotive-oss/2023/automotive-oss-bg.jpg');
  background-position: center;
}

.hotel-img-row {
    display: flex;
    flex-direction: column;
}

.hotel-img-wrapper {
    width: 100%;
    height: 24rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: @screen-sm-min) {
    .hotel-img-row {
        flex-direction: row;
    }

    .hotel-img-wrapper {
        height: 36rem;
    }
}

// Event summary section

.featured-section-row-dark-bg {
    background-image: url('../images/automotive-oss/2023/dark-graph.jpg');
    background-size: cover;
    background-position: top;

    h2,
    .h2 {
        font-weight: bold;
    }

    h3,
    .h3 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    
    h2,
    h3,
    .h2
    .h3 {
        color: @brand-primary;
    }
}

.event-summary-section {
    .event-summary-section-container {
        flex-direction: column;
        align-items: stretch;    
    }

    .event-summary-item {
        width: 100%;
        margin: auto;
        background-color: @gray;
        padding: 3rem 2rem;
    }

    @media (min-width: @screen-md-min) {
        .event-summary-section-container {
            flex-direction: row;
        }

        .event-summary-item {
            width: 100%;
            margin: unset;
            padding: 4rem 2rem;
        }
    }
}

.speakers-section {
    .icon-backdrop,
    img {
        border-radius: 50%;
    }

    .icon-backdrop {
        background-color: #444;

        i::before {
            color: #666;
        }
    }
}

.featured-section-row-dark-bg .eclipsefdn-user-display-content a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: @brand-primary;
  }
}
